@import "tailwindcss";

@theme {
  --font-serif: var(--font-eb-garamond), serif;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
}

:root {
  /* Eco-Ink Palette */
  --background: #FDFDFB; /* Warm White */
  --foreground: #333333; /* Charcoal Gray */
  --primary: #1B4D3E;    /* Forest Green */
  --muted: #E5E5E0;      /* Soft Gray divider */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

